.svn
.vscode
build/
**.o
libwebgraph.a
bitstreams/tests/reader_writer_test
benchmarks/compute_indegree
benchmarks/compute_outdegree
webgraph/iterators/tests/test_interval_sequence_iterator
webgraph/iterators/tests/test_masked_iterator
webgraph/iterators/tests/test_merged_iterator
iterators/tests/test_interval_sequence_iterator
iterators/tests/test_masked_iterator
iterators/tests/test_merged_iterator
tests/compress_webgraph
tests/print_webgraph
tests/graphs/hello*
utils/tools/generate_random_graph
